

/* * * * * * * * UTILITIES */

.box{
    padding: 30px 0;
    border-radius: 5px;
    background-color: #fff;
}

.vertical{
    vertical-align: middle;   
}

.bolder{
    font-weight: bold;
}

.color_white{
    color: #fff;
}

.color_blue{
    color: #1482e2;  
}

.color_lightgrey{
    color:#f5f5f5b3;
}

.color_grey{
    color: rgba(3,27,78,0.70);
}

.color_green{
    color:#75e8ce;
}

.background_grey{
    background-color: #d0d0d038;
}

.background_gradient{
    background: linear-gradient( 360deg , #112f6d 0%, #244fbf 100%);
}

.background_blue{
    background:#0c1a4afc;
}

.padding_bottom{
    padding-bottom: 60px;
}

.padding_top{
    padding-top:60px;
}

.padding_top_20{
    padding-top: 20px;
}

.padding_bottom_10{
    padding-bottom: 10px;
}

.position{
    position:relative;
}

.font_17{
    font-size:17px;
}

.font_35{
    font-size: 35px;
}

.font_13{
    font-size:13px;
}

.border_bottom{
    border-bottom: 1px solid #fff;
    padding-bottom: 12px;
    padding-top: 12px;
}



/* button */

.btn_outline_blue{
    color: #1482e2;
    border-color: #1482e2;
}

.btn_full{
    color:#fff;
    background-color: #1482e2;
}

.btn_full_white{
   color: #1482e2;
   background:#fff;
}

/* * * * * * * * HEADER */

header{
    padding: 20px 0;
}

.main_header img{
   width: 170px;
} 

.main_header .fa-bars{
    font-size: 2rem;
    position: relative;
    top:8px;
    color:#1482e2;
}

header.main_header a{
    color:black;
}

header.main_header li:not(:last-child){
    padding: 0 10px;
}

header.main_header .my_btn{
    color: #1482e2;  
}

ul.vertical{
    padding: 6px 12px;
}



/* * * * * * * * MAIN */

main{
    font-size: 21px;
}

/* section hero */

.hero{
    background-image: url(../img/bg-banner-home.jpg);
    background-position: top;
}

.form-group{
    padding:0 10px;
}

.hero .box p{
    font-size: 30px;
}

.google_icon{
    width:20px;
    position: absolute;
    left:10px;
}


/* section business */


.business {
    padding: 40px 0; 
}

.business h4{
    font-size: 16px;
}

.business .logos{
    width:100%;
}

 .business .logos li{
    width: calc((100% / 2) - 10px );
   
} 

.business .logos li img{
    width:90%;
}


/* section deploy */



.deploy ul{
    border-left: 1px solid rgba(3,27,78,0.70);
    padding-left: 12px;
}

.deploy ul li {
    padding: 10px 0;
}

.deploy .cluster{
    margin-top: 20px;
}

.deploy h4,
.features h4{
    padding-top: 10px;
    font-size:20px;
}



/* section slide */


.slide img{
    width: 300px;
}

.slide p{
    padding-top: 15px;
}

.slide .fa-angle-left,
.slide .fa-angle-right{
    padding:5px;
    font-size: 4rem;
    position: relative;
    top:30px;   
}

.slide .fa-angle-right{
    color:black;
}

.paginations .circle{
   width:10px;
   height: 10px;
   border-radius: 50%;
   border:1px solid #1482e2;
   transition: all .3s;
}


.full{
    background-color:#1482e2 ;
}

.list-inline li{
    padding-right: 0;
    padding-left: 0;
}

.paginations .circle:hover{
    transform: scale(1.5);
}


/* section features */

.features a > span{
    padding-left: 8px;
}


/* section tab */

.tab .row a:hover{
   color:#fff;
}





/* * * * * * * * FOOTER */

footer .social li i{
    font-size: 2rem;
    padding-right: 10px;
    transition: all .3s;
}


footer .social li i:hover{
    color:#fff;
}

footer a:hover{
    color:#fff;
}















/* * * * * * * * RESPONSIVE */



/* MEDIA TABLET */


@media screen and (min-width:768px){

    /* hero section */ 

   .hero{
       background-position: bottom center;
   }

   .form-group{
    padding:0 15px;

   } 

   .hero .box p{
    font-size: 25px;
   }

   .box h2{
       font-size: 28px;
   } 

   .box span{
       font-size:14px;
    }


     /* business section */

    .business .logos li{
        width: calc((100% / 6) - 10px);
        padding-left: 10px;
        
    } 

    .business .logos li img{
        width:100%;
    }

    
     /* deploy section */

    .deploy .cluster{
        margin-top: 0;
    }

    .one_click,
    .global{
        margin-top: 20px;
    }   

    .cluster p,
    .optimized p,
    .one_click p,
    .global p{
        font-size:16px;
    }

    /* slide section */

    .slide img{
        width: 400px;
    }

    .slide p{
        font-size: 16px;
    }

    .paginations{
        margin-top: 40px;
    }

    /* seciton features */

    .features h4{
        font-size:18px;
    }

    /* section rockerbox */

    .rockerbox .fa-angle-left,
    .rockerbox .fa-angle-right{
        font-size: 4rem;
        
    }

    /* section get started */

    .get_started h3{
        font-size: 3.5rem;
    }

     
}








/* MEDIA DESKTOP */

@media screen and (min-width:992px){

    /* hero section */

    .hero h1{
        font-size:60px;
    }
    
    /* deploy section  */
    .list{
        padding-left: 130px;
    }

    .one_click,
    .global{
        position:relative;
        bottom:70px;
    }

     /* slide section */

    .slide img{
        width: 600px;
    }

    .rockerbox h3,
    .features h3,
    .slider h3{
        font-size:32px;
    }

    
    /* footer */ 
 
    footer div h4{
        padding-top:60px;
    }
}  

