
/* UTILITIES */

.my_btn{
    color: #1482e2;
    border-color: #1482e2;
}



/* HEADER */

header{
    padding : 20px 0;
}

.main_header img{
   width: 170px;
} 

.main_header .fa-bars{
    font-size: 2rem;
    position: relative;
    top:8px;
    color:#1482e2;
}

header.main_header a{
    color:black;
}

header.main_header .my_btn{
    color: #1482e2;
   
}
